body {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.container {
  background-color: black;
  padding: .5rem;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
}

.trafficTop {
  width: 20px;
  height: 50px;
  background-color: black;
  margin: 0 auto;
}